<h1>Newtrip</h1>

<div class="container">
  <div class="row">

    <div class="col-md-4">

        <label class="control-label" for="textinput">To:</label>  

        <form ng-submit="getInput()">
        <input id="destination" 
              name="destination" 
              ng-autocomplete 
              details="destination.details"
              options="options" 
              placeholder="Destination" 
              class="form-control input-md" 
              ng-model="destinationInput"
              type="text">
        </form>
        <br>
        <label class=" control-label" for="textinput">From:</label>  
        <input id="origin" 
              name="origin" 
              ng-autocomplete 
              details="details"
              options="options" 
              placeholder="Origin" 
              ng-model="originInput"
              class="form-control input-md" 
              type="text">
    </div> <!-- end col -->

    <div class="col-md-8">
        <br>
        <google-map center="map2.center" 
                    zoom="map2.zoom"
                    options="mapOptions" >
                    <marker  coords="origCoords"
                    ></marker>
                    <marker  coords="destCoords"
                    ></marker>
                    </google-map>
    </div> <!-- end col -->
    <div>
</div>
    {{destLatLong = destination.details.geometry.location}}
    <div class="hidden" style="{display: none;}">
 {{ destLatLong = destination.details.geometry.location}} 
</div>
  </div> <!--end row -->
</div> <!-- end container -->


