<h1>Newtrip</h1>

<div class="container">
  <div class="row">

    <div class="col-md-4">

        <label class="control-label" for="textinput">To:</label>  

        <form ng-submit="getCoordsFromInput()">
        <input id="destination" 
              name="destination" 
              ng-autocomplete 
              details="destination.details"
              options="options" 
              placeholder="Destination" 
              class="form-control input-md" 
              ng-model="destinationInput"
              ng-submit="getCoordsFromInput()"
              type="text">
        </form>
        <br>
        <label class=" control-label" for="textinput">From:</label>  
        <input id="origin" 
              name="origin" 
              ng-autocomplete 
              details="details"
              options="options" 
              placeholder="Origin" 
              ng-model="originInput"
              class="form-control input-md" 
              type="text">
    </div> <!-- end col -->

    <div class="col-md-8">
        <br>
        <google-map center="map2.center" 
                    zoom="map2.zoom"
                    options="mapOptions"
                    ></google-map>
    </div> <!-- end col -->
    <input id="myInput" type="text" value=" {{destination.details.geometry.location}} ">

  </div> <!--end row -->
</div> <!-- end container -->


