/**
 * These are the variables used throughout the application. This is where
 * overwrites that are not specific to components should be maintained.
 */

@import '../../vendor/bootstrap/less/variables.less';


/**
 * Typography-related.
 */

@sansFontFamily: 'Roboto', sans-serif;

@blue : #007887;
@green: #496e33;
@orange: #c87d29;
@red: #a53622;
@light-green: #a7b998;

@brand-primary : #007887;
@brand-success: #496e33;
@brand-warning: #c87d29;
@brand-danger: #a53622;
@brand-info: #a7b998;

@navbar-inverse-bg: @blue;
